In [ ]:
import datasets
from datasets import load_dataset
dataset = load_dataset('lukebarousse/data_jobs')

df = dataset['train'].to_pandas()
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

9. Show all jobs where country is "India"

In [ ]:
 #Jobs from India
df_india = df[df['job_country'] == 'India']
df_india['job_title_short'].value_counts()

job_title_short
Data Engineer                19062
Data Scientist               13279
Data Analyst                  6121
Senior Data Engineer          4353
Senior Data Scientist         2486
Business Analyst              1887
Software Engineer             1795
Senior Data Analyst           1083
Machine Learning Engineer      671
Cloud Engineer                 351
Name: count, dtype: int64

10.	How many jobs are work-from-home?

In [ ]:
#WFH jobs
df['job_work_from_home'].value_counts() 
df[df['job_work_from_home'] == True].shape

(69552, 17)

11. Filter jobs with salary greater than 1,00,000

In [ ]:
df_job_salary = df[df['salary_year_avg'] > 100000]
df_job_salary['job_title'].value_counts().head(10)

job_title
Data Scientist              1091
Data Engineer                940
Senior Data Engineer         694
Senior Data Scientist        517
Data Analyst                 347
Senior Data Analyst          200
Lead Data Engineer           185
Lead Data Scientist          152
Sr. Data Engineer            114
Principal Data Scientist     105
Name: count, dtype: int64

12. Jobs that don't require a degree

In [ ]:
df['job_no_degree_mention'].value_counts()
df[df['job_no_degree_mention'] == True]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
10,Data Engineer,Erfahrene*r Data Engineer*in (m/w/d),"Basel, Switzerland",via LinkedIn,Full-time,False,Switzerland,2023-04-17 13:27:32,True,False,Switzerland,None,NaN,NaN,ROCKEN®,"['python', 'databricks', 'azure', 'spark']","{'cloud': ['databricks', 'azure'], 'libraries'..."
13,Senior Data Engineer,Senior Data Engineer,"New York, NY",via LinkedIn,Full-time,False,"Texas, United States",2023-11-15 13:08:52,True,True,United States,None,NaN,NaN,Nayya,"['python', 'sql', 'go', 'ruby', 'ruby', 'javas...","{'cloud': ['aws'], 'other': ['terraform'], 'pr..."
25,Senior Data Analyst,"Senior Officer, Data Analyst, GTO",Singapore,via BeBee Singapore,Full-time,False,Singapore,2023-06-23 13:56:10,True,False,Singapore,None,NaN,NaN,United Overseas Bank,['sql'],{'programming': ['sql']}
26,Data Engineer,Data Engineer,United States,via LinkedIn,Full-time,False,Georgia,2023-09-15 13:56:18,True,False,United States,None,NaN,NaN,Infinite Computer Solutions,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785698,Data Engineer,"Data Engineer, Gerencia Business Intelligence","Las Condes, Chile","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Chile,2023-08-09 06:32:00,True,False,Chile,None,NaN,NaN,Falabella Retail,"['sql', 'python', 'gcp', 'aws', 'git']","{'cloud': ['gcp', 'aws'], 'other': ['git'], 'p..."
785700,Data Engineer,Data Engineer Ssr/Sr,"Mexico City, CDMX, Mexico",via Trabajo.org,Full-time,False,Mexico,2023-01-12 06:19:55,True,False,Mexico,None,NaN,NaN,Tsoft,"['python', 'r', 'azure', 'aws', 'gcp', 'spark'...","{'cloud': ['azure', 'aws', 'gcp'], 'libraries'..."
785701,Data Engineer,"Data Engineer, Gerencia Business Intelligence","Santiago, Chile","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Chile,2023-08-09 06:31:57,True,False,Chile,None,NaN,NaN,Falabella Retail,"['sql', 'python', 'gcp', 'aws', 'git']","{'cloud': ['gcp', 'aws'], 'other': ['git'], 'p..."
785703,Data Analyst,Data Analyst - CRYPTOGRAPHY - Full-time,Anywhere,via Snagajob,Full-time,True,"Texas, United States",2023-01-28 06:02:55,True,False,United States,None,NaN,NaN,Axelon Services Corporation,None,None
785706,Data Engineer,Junior Data Engineer,"Lima, Peru","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Peru,2023-11-08 06:34:48,True,False,Peru,None,NaN,NaN,Emprego,"['python', 'sql', 'azure', 'power bi']","{'analyst_tools': ['power bi'], 'cloud': ['azu..."

13. Jobs posted in the last 30 days

In [ ]:
import pandas as pd
from datetime import datetime ,timedelta
df['date'] = pd.to_datetime(df['job_posted_date'])

today = datetime.today()
last_30_days = today - timedelta(days=30)
recent_jobs = df[df['date'] >= last_30_days]
len(recent_jobs)

0

14. Count jobs by "job_schedule_type".

In [ ]:
df['job_schedule_type'].value_counts()

job_schedule_type
Full-time                                701727
Contractor                                34793
Internship                                 8742
Part-time                                  7881
Full-time and Part-time                    6287
Full-time and Temp work                    2603
Full-time and Internship                   2340
Full-time and Contractor                   2292
Contractor and Temp work                   2283
Temp work                                  2169
Full-time, Part-time, and Internship        264
Part-time and Internship                    255
Temp work and Internship                    211
Full-time, Contractor, and Temp work        194
Full-time, Temp work, and Internship        173
Part-time and Contractor                    160
Full-time, Part-time, and Temp work         131
Full-time, Part-time, and Contractor        119
Part-time and Temp work                     111
Pekerjaan tetap                              59
Volunteer                                    51
Full-time and Per diem                       42
Contractor and Internship                    41
Full-time, Contractor, and Internship        29
Per diem                                     20
Part-time and Full-time                      19
Part-time, Contractor, and Temp work         19
Part-time, Temp work, and Internship         12
Full-time and Volunteer                       8
Part-time and Per diem                        5
Contractor and Per diem                       4
Internship and Full-time                      3
Contractor, Temp work, and Internship         3
Contractor and Part-time                      3
Full-time, Temp work, and Per diem            3
Kontraktor                                    3
Full-time, Part-time, and Volunteer           2
Part-time and Volunteer                       2
Contractor and Full-time                      2
Full-time, Contractor, and Volunteer          2
Internship and Per diem                       1
Temp work and Full-time                       1
Part-time, Internship, and Volunteer          1
Part-time, Contractor, and Internship         1
Internship and Volunteer                      1
Full-time, Part-time, and Per diem            1
Temp work, Full-time, and Part-time           1
Name: count, dtype: int64

15. Filter jobs by a specific company

In [ ]:
df['company_name'].value_counts().head(10)
df[df['company_name'] == 'Dice']

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,date
2330,Data Engineer,Data Engineer,Anywhere,via LinkedIn,Full-time,True,Sudan,2023-11-06 15:13:12,False,False,Sudan,None,NaN,NaN,Dice,"['t-sql', 'python', 'java', 'r', 'scala', 'jup...","{'analyst_tools': ['tableau', 'excel'], 'libra...",2023-11-06 15:13:12
3091,Data Engineer,Azure Data Engineer,"Birmingham, AL",via LinkedIn,Full-time,False,"New York, United States",2023-08-22 13:07:57,False,True,United States,None,NaN,NaN,Dice,"['sql', 'c', 'sql server', 'azure', 'databrick...","{'analyst_tools': ['ssis'], 'cloud': ['azure',...",2023-08-22 13:07:57
4347,Data Engineer,EDF Data Engineer,"Austin, TX",via LinkedIn,Full-time,False,Sudan,2023-05-13 14:33:52,False,False,Sudan,None,NaN,NaN,Dice,['java'],{'programming': ['java']},2023-05-13 14:33:52
8548,Data Scientist,Data Scientist - Content Intelligence,"Tempe, AZ",via LinkedIn,Full-time,False,Sudan,2023-06-29 14:36:43,False,False,Sudan,None,NaN,NaN,Dice,None,None,2023-06-29 14:36:43
8871,Data Engineer,AWS Data Engineer Hybrid (Independent candidat...,Anywhere,via LinkedIn,Full-time,True,Sudan,2023-05-13 14:33:54,True,False,Sudan,None,NaN,NaN,Dice,"['python', 'aws']","{'cloud': ['aws'], 'programming': ['python']}",2023-05-13 14:33:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769003,Senior Data Engineer,Sr. Data Engineer (,Anywhere,via LinkedIn,Contractor,True,Sudan,2023-01-26 02:57:58,False,False,Sudan,None,NaN,NaN,Dice,"['sql', 'python', 'java', 'c', 'sql server', '...","{'cloud': ['azure', 'snowflake', 'oracle', 'aw...",2023-01-26 02:57:58
769633,Business Analyst,Business Analyst -Data Visualization - Charlot...,"Charlotte, NC",via LinkedIn,Contractor,False,Georgia,2023-04-12 02:52:30,False,False,United States,None,NaN,NaN,Dice,"['excel', 'jira']","{'analyst_tools': ['excel'], 'async': ['jira']}",2023-04-12 02:52:30
769842,Data Scientist,Remote Data Scientist,Anywhere,via Jobgether,Full-time,True,"Texas, United States",2023-07-05 01:04:18,False,False,United States,None,NaN,NaN,Dice,"['r', 'python', 'sql', 'julia', 'jupyter', 'do...","{'libraries': ['jupyter'], 'other': ['docker',...",2023-07-05 01:04:18
772618,Data Engineer,Google Cloud Platform Data Engineer,"Cary, NC",via LinkedIn,Full-time,False,Sudan,2023-01-26 02:59:19,False,False,Sudan,None,NaN,NaN,Dice,"['java', 'bigquery', 'flow', 'jenkins', 'githu...","{'cloud': ['bigquery'], 'other': ['flow', 'jen...",2023-01-26 02:59:19
775073,Data Engineer,"JAVA, DATA ENGINEERING, FRONT END, BACK END DE...","San Francisco, CA",via LinkedIn,Full-time,False,Sudan,2023-02-10 02:33:31,False,False,Sudan,None,NaN,NaN,Dice,None,None,2023-02-10 02:33:31

16. Jobs where salary is missing

In [ ]:
df[df['salary_year_avg'].isnull() == True]
df[['job_title_short', 'salary_year_avg']]

             job_title_short  salary_year_avg
0       Senior Data Engineer              NaN
1               Data Analyst              NaN
2              Data Engineer              NaN
3              Data Engineer              NaN
4              Data Engineer              NaN
...                      ...              ...
785736     Software Engineer              NaN
785737          Data Analyst              NaN
785738      Business Analyst              NaN
785739         Data Engineer              NaN
785740     Software Engineer              NaN

[785741 rows x 2 columns]

17. Jobs that mention Python in skills

In [ ]:
python_jobs = df[df['job_skills'].str.contains('Python', case=False, na=False)]
python_jobs

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,date
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr...",2023-01-14 13:18:07
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],...",2023-10-10 13:14:55
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',...",2023-07-04 13:01:41
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl...",2023-08-07 14:29:36
5,Data Engineer,GCP Data Engineer,Anywhere,via ZipRecruiter,Contractor and Temp work,True,Georgia,2023-11-07 14:01:59,False,False,United States,None,NaN,NaN,smart folks inc,"['python', 'sql', 'gcp']","{'cloud': ['gcp'], 'programming': ['python', '...",2023-11-07 14:01:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785731,Data Engineer,Data Engineer,"Overland Park, Kansas, Amerika Serikat",melalui LinkedIn,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:17,False,False,Sudan,None,NaN,NaN,Shamrock Trading Corporation,"['nosql', 'mongodb', 'mongodb', 'python', 'ela...","{'analyst_tools': ['excel'], 'cloud': ['aws', ...",2023-03-12 06:32:17
785732,Data Engineer,Data Engineer (f/m/d),"Heidelberg, Jerman",melalui Top County Careers,Pekerjaan tetap,False,Germany,2023-03-13 06:18:59,False,False,Germany,None,NaN,NaN,Heidelberg Materials,"['python', 'c#', 'java', 'scala', 'sql', 'post...","{'cloud': ['azure', 'databricks'], 'databases'...",2023-03-13 06:18:59
785735,Senior Data Engineer,Senior Data Engineer,"Berlin, Jerman",melalui Top County Careers,Pekerjaan tetap,False,Germany,2023-03-13 06:19:07,False,False,Germany,None,NaN,NaN,Pure App,"['sql', 'python', 'bigquery', 'aws', 'airflow'...","{'cloud': ['bigquery', 'aws'], 'libraries': ['...",2023-03-13 06:19:07
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete...",2023-03-13 06:16:16
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh...",2023-03-12 06:32:15